body, html {
	overflow: hidden; // parallax
}

* {
	margin:0;
	padding:0;
}

body {
	background-color: $color-white;
	color: $color-black;
	overflow: hidden;
}

main {
}

.wrapper {
	margin: 100px 10vw;
	@include lt(10) {
		margin: 50px 10vw;
	}
	@include lt(5) {
		margin: 50px 5vw;
	}
}

h1 {
	font-family: 'poppinsbold', sans-serif;
	font-size: $font-xl;
	font-weight: 700;
	letter-spacing: 1px;

	@include lt(20) {
		font-size: 75px;
	}
	@include lt(15) {
		font-size: $font-lg;
	}
}

h3 {
	font-family: 'poppinsbold', sans-serif;
	font-size: $font-md;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

p {
	font-family: 'poppinsbold', sans-serif;
	font-size: $font-lg;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.3;

	@include lt(20) {
		font-size: 55px;
	}
	@include lt(15) {
		font-size: $font-md;
	}
}

a {
	color: $color-black;
	text-decoration: none;
	position: relative;
}

::selection {
	color: $color-black;
	background: $color-yellow;
}

sup {
	vertical-align: super;
	font-size: $font-xs;
	color: $color-greybrown;
}

ul,
ol,
table,
p {
	margin-bottom: 20px;
}

ul,
ol {
	list-style: none;
	li {
		position: relative;
		font-family: 'poppinsbold', sans-serif;
		font-size: $font-sm;
		font-weight: 700;
		letter-spacing: 1px;
		padding-left: 30px;
		margin-bottom: 12px;
		&::before {
			content: '';
			position: absolute;
			height: 8px;
			width: 20px;
			background-color: $color-yellow;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}

ul ul {
	margin-bottom: 0;
}

// parallax

.content {
	height: 600px;
	position: relative;
	background-color: #000;
}

/* Parallax base styles
	--------------------------------------------- */

.parallax {
	height: 500px; // fallback for older browsers
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 100px;
	perspective: 100px;
	-webkit-perspective-origin-x: 100%;
	perspective-origin-x: 100%;
}
.parallax-group {
	position: relative;
	// height: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform-origin-x: 110%;
	transform-origin-x: 110%;
}

.parallax-layer-base {
	-webkit-transform: translateZ(-20px) scale(1.2);
	transform: translateZ(-20px) scale(1.2);
	z-index: -1;
}

.parallax-layer-back {
	-webkit-transform: translateZ(-10px) scale(1.1);
	transform: translateZ(-10px) scale(1.1);
	z-index: -1;
}
